#top-header{
    top: 0px;
    padding-top:14px;
    display:flex;
    align-items: center;
    position:fixed;
    width:100%;
    background-color: white;
}

#g_logo{
    margin-left: 14px;
    margin-right: -150px;
    flex-grow:1;

}

#profile-pic{
    flex-grow:1;
}

#profile-picpic{
    float:inline-end;
    margin-right: 14px;
}

#search-form{
    width: 690px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    flex-grow:1;
    margin-left:14px;
}

#search-bar{
    outline:none;
    border:none;
    background-color: transparent;
    display:flex;
    flex:100%;
    margin-left: 14px;
}

#search-buttons{
    display:flex;
    margin-right: 14px;
}

.search-buttons{
    width: 44px;
    height: 44px;
    background: transparent;
    border: none;
}

#search-bar{   
    font-size: 16px;
}

#search-reset-image{
    height: 24px;
    width: 24px;
}

#search-submit{
    margin: auto;
}

#submit-svg{
    margin:auto;
}

#bottom-header{
    margin-top: 75px;
    display:flex;
    justify-content: space-between;
}

#search_modes{
    display:flex;
    justify-content: space-evenly;
    flex-grow:2;
}

#settings_tools{
    display:flex;
    justify-content: center;
    flex-grow: 1;
}

#search_settings{
    padding-right: 5px;
}

#search_tools{
    padding-left: 5px;
}

#safe_search{
    flex-grow:1;
    text-align:right;
 }

 #search-results-grid{
     display:grid;
     margin-top: 25px;
     margin-left: 25px;
     grid-template-rows: 10px auto auto auto 50px;
     grid-template-columns: 50px 400px 400px 100px;
 }

#result1-link{
    grid-row: 1;
    grid-column: 1 / span 5; 
}
 #result1-heading{
     grid-row: 2 / 2;
     grid-column: 1 / span 5;
}

 #result1-detailed1{
     grid-row: 3 / 3;
     grid-column: 2 / 2;
 }
 #result1-detailed2{
    grid-row: 4 / 4;
    grid-column: 2 / 2;
}
#result1-detailed3{
    grid-row: 3 / 3;
    grid-column: 3 / 3;
}
#result1-detailed4{
    grid-row: 4 / 4;
    grid-column: 3 / 3;
}

#result1-more{
    grid-row: 5 / 5;
    grid-column: 2 / 4;
}